.container {
  min-height: 70vh;
  background-color: rgba(5, 28, 40, 0.1);
  position: relative;
  /* padding: 50px; */
}
.container > h2 {
  font-size: 35px;
  color: var(--primary-black);
  font-weight: bolder;
  max-width: 500px;
  line-height: 70px;
  padding: 20px;
  margin-left: 100px;
  text-decoration: solid;
  text-transform: capitalize;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: 10000000;
  top: 10%;
  background-color: var(--primary-dark-blue);
  color: #fff;
}
.insideContainer {
  height: 70vh;
  width: 100vw;
}

.company {
  position: relative;
  width: 95px;
  height: 95px;
}

.circle {
  position: absolute;
  transform: scale(0.5);
  object-position: center center;
  will-change: transform, opacity;
  width: 180px;
  height: 180px;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.logo {
  display: block;
  /* https://stackoverflow.com/questions/24843676/how-can-i-fit-a-square-html-image-inside-a-circle-border */
  /* just making it < 70.7% */
  width: 60%;
  height: 60%;
}
@media (max-width: 550px) {
  .container > h2 {
    margin-left: 0px;
    margin: 20px;
  }
}
