.container {
  padding: 15px;
}
.exploreContainer {
  /* border: 2px solid blue; */
}
.sentimentContainer {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.sentimentContainer h2 {
  margin: 0 0 50px 0;
  font-size: 30px;
}
.sentimentContainer div {
  width: 500px;
}
.performanceCard {
  /* border: 2px solid green; */
  margin: 10px;
  padding: 5px;
}
.performanceCard > div {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #8e9298;
  padding: 5px;
}
.notLoggedIn {
  background-color: #f2f2f2;
  padding: 50px;
  width: 600px;
  min-width: 500px;
  margin: 50px auto;
  position: relative;
  text-align: center;
}
