.container {
  /* border: 2px solid red; */
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.channelName {
  /* border: 3px solid green; */
  background-color: var(--primary-color-light);
  color: var(--white);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: 3px solid transparent;
}
.channelName:hover {
  border: 3px solid var(--primary-color);
}

.channelNameSelected {
  /* border: 3px solid green; */
  background-color: var(--primary-color-light);
  color: var(--white);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  /* border: 2px solid transparent; */
  border: 3px solid var(--primary-color);
}
