.container {
  min-height: 100vh;
  width: 100vw;
  padding: 50px;
  margin-bottom: 100px;
}
.userInfoContainer {
  padding: 0 50px;
}

.userInfoContainer > h2 {
}

.userInfoContainer > h3 {
}
.userInfoContainer > h1 {
}

@media (max-width: 550px) {
  .container {
    min-height: 100vh;
    width: 100vw;
    padding: 00px;
    margin-bottom: 200px;
  }
  .userInfoContainer {
    padding: 20px 20px;
  }
}
