.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 100px;
  height: 90vh;
  /* border: 2px solid green; */
}

.container > div:nth-child(1) {
  /* border: 2px solid red; */
  width: 400px;
  margin-right: 50px;
}

.container > div:nth-child(1) > h1 {
  font-size: 45px;
  color: var(--primary-black);
  font-weight: bolder;
}
.container > div:nth-child(1) > p {
  /* border: 2px solid red; */
  color: var(--primary-black);
  font-size: 20px;
  line-height: 30px;
  margin: 35px 0;
}
.container > div:nth-child(2) {
  /* border: 2px solid green; */
}
